<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sharksharding.test.repository.tableshardsdk.UserRepository">
    <resultMap id="BaseResultMap" type="com.sharksharding.test.entity.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
   `id`,
   `user_id`,
   `update_time`,
   `create_time`
 </sql>

    <insert id="insert" parameterType="com.sharksharding.test.entity.UserEntity" useGeneratedKeys="true"
            keyProperty="params.id">
        INSERT INTO t_user_$[user_sharding_key]$ (`user_id`,`update_time`,`create_time`)
        VALUES
        (#{params.userId,jdbcType=VARCHAR}, #{params.updateTime,jdbcType=TIMESTAMP}, #{params.createTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_$[user_sharding_key]$ WHERE user_id=#{userId,jdbcType=VARCHAR }
    </select>

    <select id="selectByJoin" resultType="map">
        SELECT t_user_$[user_sharding_key]$.*,t_dict.key,t_dict.value FROM t_user_$[user_sharding_key]$, t_dict WHERE t_user_$[user_sharding_key]$.user_id=t_dict.key
    </select>
</mapper>
  

  
