<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:shark-sharding="http://sharksharding.com/schema/datasource"
       xmlns:shark-context="http://sharksharding.com/schema/context"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://sharksharding.com/schema/datasource http://sharksharding.com/schema/datasource/shark-sharding-1.0.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://sharksharding.com/schema/context http://sharksharding.com/schema/context/shark-context-1.0.0.xsd"
       default-lazy-init="false">

    <shark-context:place-holder ignore-resource-not-found="false"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.sharksharding.test"/>

    <!-- 事务管理器 -->
    <bean id="TestSDKTransactionManager" class="com.sharksharding.datasource.SmartDataSourceTransactionManager">
        <property name="dataSource" ref="TestSDK"/>
    </bean>

    <!-- MyBatis配置 -->
    <bean id="TestSDKSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="TestSDK"/>
        <property name="mapperLocations" value="classpath*:mapper/testsdk/*Mapper.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.sharksharding.test.repository.testsdk"/>
        <property name="sqlSessionFactoryBeanName" value="TestSDKSqlSessionFactory"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

    <!-- 创建 TestSDK 数据源 -->
    <shark-sharding:matrix-datasource id="TestSDK" transactionManager="TestSDKTransactionManager">
        <shark-sharding:pool-configs>
            <shark-sharding:pool-config atom-names="*">
                <shark-sharding:property name="initialSize" value="3"/>
                <shark-sharding:property name="minIdle" value="3"/>
                <shark-sharding:property name="maxActive" value="15"/>
                <shark-sharding:property name="maxWait" value="5000"/>
                <shark-sharding:property name="timeBetweenEvictionRunsMillis" value="90000"/>
                <shark-sharding:property name="minEvictableIdleTimeMillis" value="1800000"/>
                <shark-sharding:property name="testOnBorrow" value="false"/>
                <shark-sharding:property name="testOnReturn" value="false"/>
                <shark-sharding:property name="testWhileIdle" value="true"/>
            </shark-sharding:pool-config>
        </shark-sharding:pool-configs>
    </shark-sharding:matrix-datasource>

    <!-- ................ -->

    <!-- 事务管理器 -->
    <bean id="ShardingDbSDKTransactionManager" class="com.sharksharding.datasource.SmartDataSourceTransactionManager">
        <property name="dataSource" ref="ShardingDbSDK"/>
    </bean>

    <!-- MyBatis配置 -->
    <bean id="ShardingDbSDKSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ShardingDbSDK"/>
        <property name="mapperLocations" value="classpath*:mapper/shardingdbsdk/*Mapper.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.sharksharding.test.repository.shardingdbsdk"/>
        <property name="sqlSessionFactoryBeanName" value="ShardingDbSDKSqlSessionFactory"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>
    <!-- 创建 ShardingDbSDK 数据源 -->
    <shark-sharding:matrix-datasource id="ShardingDbSDK" transactionManager="ShardingDbSDKTransactionManager"
                                      myBatisSqlSessionFactory="ShardingDbSDKSqlSessionFactory">
        <shark-sharding:pool-configs>
            <shark-sharding:pool-config atom-names="*">
                <shark-sharding:property name="initialSize" value="3"/>
                <shark-sharding:property name="minIdle" value="3"/>
                <shark-sharding:property name="maxActive" value="15"/>
                <shark-sharding:property name="maxWait" value="5000"/>
                <shark-sharding:property name="timeBetweenEvictionRunsMillis" value="90000"/>
                <shark-sharding:property name="minEvictableIdleTimeMillis" value="1800000"/>
                <shark-sharding:property name="testOnBorrow" value="false"/>
                <shark-sharding:property name="testOnReturn" value="false"/>
                <shark-sharding:property name="testWhileIdle" value="true"/>
            </shark-sharding:pool-config>
        </shark-sharding:pool-configs>
        <shark-sharding:repository-sharding
                pointcut-expression="execution(* com.sharksharding.test.service.impl.sharding..*.*(..))"/>
    </shark-sharding:matrix-datasource>

</beans>